{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Django</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      h1 {
        color: #333;
        font-size: 2.5em;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <img src="{% static 'logo.png' %}" alt="Logo" style="width: 200px" />
      <h1>Hello from Dockerized Django!</h1>
    </div>
  </body>
</html>
